.container {
    height: 300px; /* Adjust the desired height for the chart */
    width: 100%;
    display: flex;
    margin-top: 50px; /* Adjust the top margin as needed */
  
    @media (max-width: 768px) {
      height: 200px; /* Adjust the desired height for smaller screens */
    }
  }
  